<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzbrt.dstb.dao.ZwKa08TempMapper">
  <resultMap id="BaseResultMap" type="com.ylzbrt.dstb.entity.ZwKa08Temp">
    <result column="AAA027" jdbcType="VARCHAR" property="aaa027" />
    <result column="AAC002" jdbcType="VARCHAR" property="aac002" />
    <result column="AAC003" jdbcType="VARCHAR" property="aac003" />
    <result column="AAE030" jdbcType="DECIMAL" property="aae030" />
    <result column="AAE031" jdbcType="DECIMAL" property="aae031" />
    <result column="BKE043" jdbcType="VARCHAR" property="bke043" />
    <result column="AAE035" jdbcType="VARCHAR" property="aae035" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AAA027, AAC002, AAC003, AAE030, AAE031, BKE043, to_char(AAE035,'yyyy/MM/dd HH:mm:ss') AAE035
  </sql>
  <select id="selectByExample" parameterType="com.ylzbrt.dstb.entity.ZwKa08TempExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ZW_KA08_TEMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.ylzbrt.dstb.entity.ZwKa08Temp">
    insert into ZW_KA08_TEMP (AAA027, AAC002, AAC003, 
      AAE030, AAE031, BKE043, 
      AAE035)
    values (#{aaa027,jdbcType=VARCHAR}, #{aac002,jdbcType=VARCHAR}, #{aac003,jdbcType=VARCHAR}, 
      #{aae030,jdbcType=DECIMAL}, #{aae031,jdbcType=DECIMAL}, #{bke043,jdbcType=VARCHAR}, 
      #{aae035,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ylzbrt.dstb.entity.ZwKa08Temp">
    insert into ZW_KA08_TEMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aaa027 != null">
        AAA027,
      </if>
      <if test="aac002 != null">
        AAC002,
      </if>
      <if test="aac003 != null">
        AAC003,
      </if>
      <if test="aae030 != null">
        AAE030,
      </if>
      <if test="aae031 != null">
        AAE031,
      </if>
      <if test="bke043 != null">
        BKE043,
      </if>
      <if test="aae035 != null">
        AAE035,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aaa027 != null">
        #{aaa027,jdbcType=VARCHAR},
      </if>
      <if test="aac002 != null">
        #{aac002,jdbcType=VARCHAR},
      </if>
      <if test="aac003 != null">
        #{aac003,jdbcType=VARCHAR},
      </if>
      <if test="aae030 != null">
        #{aae030,jdbcType=DECIMAL},
      </if>
      <if test="aae031 != null">
        #{aae031,jdbcType=DECIMAL},
      </if>
      <if test="bke043 != null">
        #{bke043,jdbcType=VARCHAR},
      </if>
      <if test="aae035 != null">
        #{aae035,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="ProZwKa08" parameterType="java.util.Map" statementType="CALLABLE">
    {call PRO_ZW_KA08_DATAS(
    #{updator,mode=IN, jdbcType=VARCHAR},
    #{result, mode=OUT, jdbcType=VARCHAR}
    )}
  </insert>


  <select id="selectZwKa08Temp"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from zw_ka08
  </select>

</mapper>